In [49]:
 # %matplotlib inline
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
##from wordcloud import WordCloud

In [56]:
hm_data = pd.read_csv('cleaned_hm.csv')
hm_data.head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection
1,27674,2,24h,I was happy when my son got 90% marks in his e...,I was happy when my son got 90% marks in his e...,True,1,NaN,affection
2,27675,1936,24h,I went to the gym this morning and did yoga.,I went to the gym this morning and did yoga.,True,1,NaN,exercise
3,27676,206,24h,We had a serious talk with some friends of our...,We had a serious talk with some friends of our...,True,2,bonding,bonding
4,27677,6227,24h,I went with grandchildren to butterfly display...,I went with grandchildren to butterfly display...,True,1,NaN,affection

In [45]:
hm_data.count()

hmid                     100535
wid                      100535
reflection_period        100535
original_hm              100535
cleaned_hm               100535
modified                 100535
num_sentence             100535
ground_truth_category     14125
predicted_category       100535
dtype: int64

In [57]:
hm_data.predicted_category.unique()

array(['affection', 'exercise', 'bonding', 'leisure', 'achievement',
       'enjoy_the_moment', 'nature'], dtype=object)

In [58]:
hm_data.loc[hm_data["reflection_period"]=='3m'].head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category
30455,58297,888,3m,nowing im going to travel to china soon,nowing im going to travel to china soon,True,1,leisure,leisure
30456,58298,129,3m,I ate a really good dinner.,I ate a really good dinner.,True,1,NaN,enjoy_the_moment
30457,58299,1354,3m,I went to a Lehigh Valley phantoms hockey game.,I went to a Lehigh Valley phantoms hockey game.,True,1,NaN,leisure
30458,58300,384,3m,I saw the woman I love.,I saw the woman I love.,True,1,NaN,affection
30459,58301,1111,3m,the babyset i ordered finally came and i set i...,the baby set i ordered finally came and i set ...,False,1,NaN,achievement

In [59]:
df_hm = hm_data[hm_data['cleaned_hm'].notnull()]
len_count = df_hm['cleaned_hm'].apply(lambda x: len(x.split()))
len_count.describe()

TypeError: 'int' object is not callable

In [55]:
df_hm[df_hm['cleaned_hm'].apply(lambda x: len(x.split()))==2].head()

TypeError: 'int' object is not callable

In [60]:
length_order = ["0-4", "5-9", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", \
                "40-44", "45-49", ">=50"]
length_category = len_count.apply(lambda x: length_order[min(10, int(x/5))])
length_counts = pd.DataFrame(length_category.value_counts()).reset_index()
length_counts.columns = ['word numbers', '# of moments']

sns.barplot(x='word numbers', y='# of moments', data=length_counts, order=length_order)

In [ ]:
#text = ' '.join(df_hm['cleaned_hm'].tolist())
#text = text.lower()
#wordcloud = WordCloud(background_color="white", height=2700, width=3600).generate(text)
#plt.figure( figsize=(14,8) )
#plt.imshow(wordcloud.recolor(colormap=plt.get_cmap('Set2')), interpolation='bilinear')
#plt.axis("off")

In [61]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

# Check each moment, and increase the count for the mentioned season
season_dic = dict((x,0) for x in seasons)
tokens_hm = df_hm['cleaned_hm'].apply(lambda x: x.split())
for _, value in tokens_hm.iteritems():
    for word in value:
        if word in seasons:
            season_dic[word] += 1
            
season_dic

{'Fall': 6, 'Spring': 81, 'Summer': 27, 'Winter': 6}

In [62]:
# Read the happyDB sample file
with open('happydb.txt', 'w') as ofile:
    len = int(df_hm.shape[0] / 8)
    for i in range(0, len - 1):
        ofile.write(df_hm['cleaned_hm'].iloc[i] + '\n')
        
print("Happy moments are retrieved!")

Happy moments are retrieved!

In [63]:
df1 = pd.read_csv('demographic.csv')

In [64]:
df1.count()

wid           10844
age           10809
country       10771
gender        10812
marital       10787
parenthood    10813
dtype: int64

In [65]:
# to combine two datasets we can use merge or append
hm_new = pd.merge(hm_data , df1)

In [66]:
hm_new.head()

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection,35,USA,m,single,n
1,27873,2053,24h,I played a new game that was fun and got to en...,I played a new game that was fun and got to en...,True,1,NaN,leisure,35,USA,m,single,n
2,28073,2053,24h,I listened to some music and heard an entire a...,I listened to some music and heard an entire a...,True,1,NaN,leisure,35,USA,m,single,n
3,33522,2053,24h,Went to see a movie with my friend,Went to see a movie with my friend,True,1,NaN,bonding,35,USA,m,single,n
4,34522,2053,24h,"Played guitar, learning a song on it","Played guitar, learning a song on it",True,1,NaN,leisure,35,USA,m,single,n

In [67]:
hm_new.count()

hmid                     100535
wid                      100535
reflection_period        100535
original_hm              100535
cleaned_hm               100535
modified                 100535
num_sentence             100535
ground_truth_category     14125
predicted_category       100535
age                      100442
country                  100332
gender                   100456
marital                  100378
parenthood               100457
dtype: int64

In [68]:
hm_data.count()

hmid                     100535
wid                      100535
reflection_period        100535
original_hm              100535
cleaned_hm               100535
modified                 100535
num_sentence             100535
ground_truth_category     14125
predicted_category       100535
dtype: int64

In [69]:
hm_new

,hmid,wid,reflection_period,original_hm,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,I went on a successful date with someone I fel...,I went on a successful date with someone I fel...,True,1,NaN,affection,35,USA,m,single,n
1,27873,2053,24h,I played a new game that was fun and got to en...,I played a new game that was fun and got to en...,True,1,NaN,leisure,35,USA,m,single,n
2,28073,2053,24h,I listened to some music and heard an entire a...,I listened to some music and heard an entire a...,True,1,NaN,leisure,35,USA,m,single,n
3,33522,2053,24h,Went to see a movie with my friend,Went to see a movie with my friend,True,1,NaN,bonding,35,USA,m,single,n
4,34522,2053,24h,"Played guitar, learning a song on it","Played guitar, learning a song on it",True,1,NaN,leisure,35,USA,m,single,n
5,35522,2053,24h,Talked to my romantic prospect,Talked to my romantic prospect,True,1,NaN,affection,35,USA,m,single,n
6,40281,2053,24h,I played a game for about half an hour.,I played a game for about half an hour.,True,1,leisure,leisure,35,USA,m,single,n
7,40381,2053,24h,I discovered another album I hadn't heard by a...,I discovered another album I hadn't heard by a...,True,1,NaN,achievement,35,USA,m,single,n
8,40481,2053,24h,I talked to the girl I'm dating about some int...,I talked to the girl I'm dating about some int...,True,1,NaN,affection,35,USA,m,single,n
9,27674,2,24h,I was happy when my son got 90% marks in his e...,I was happy when my son got 90% marks in his e...,True,1,NaN,affection,29.0,IND,m,married,y
10,27874,2,24h,I was very happy when my family brings me beau...,I was very happy when my family brings me beau...,True,1,NaN,affection,29.0,IND,m,married,y
11,28074,2,24h,I was happy when I got my new incentives from ...,I was happy when I got my new incentives from ...,True,1,NaN,achievement,29.0,IND,m,married,y
12,29946,2,24h,When my family cooked my favorite food at night,When my family cooked my favorite food at night,True,1,NaN,affection,29.0,IND,m,married,y
13,30945,2,24h,When my son got recovery from their disease,When my son got recovery from their disease,True,1,NaN,affection,29.0,IND,m,married,y
14,31944,2,24h,When my mother got finalized stay for transfer...,When my mother got finalized stay for transfer...,True,1,NaN,affection,29.0,IND,m,married,y
15,32821,2,24h,When my family plan a abroad tour with me,When my family plan a abroad tour with me,True,1,affection,affection,29.0,IND,m,married,y
16,33021,2,24h,When my son realize their emotions and duty,When my son realize their emotions and duty,True,1,NaN,affection,29.0,IND,m,married,y
17,33221,2,24h,When my brother got a new job offer from abroad,When my brother got a new job offer from abroad,True,1,NaN,affection,29.0,IND,m,married,y
18,33843,2,24h,I was very happy last 24 hours when I received...,I was very happy last 24 hours when I received...,True,1,NaN,achievement,29.0,IND,m,married,y
19,34843,2,24h,When my house ready to live with my family,When my house ready to live with my family,True,1,affection,affection,29.0,IND,m,married,y
20,35843,2,24h,When my nephew new born yesterday.,When my nephew new born yesterday.,True,1,NaN,affection,29.0,IND,m,married,y
21,36431,2,24h,When my wife got recover from their cough and ...,When my wife got recover from their cough and ...,True,1,NaN,affection,29.0,IND,m,married,y
22,36731,2,24h,When my house ready to possession with my family,When my house ready to possession with my family,True,1,NaN,affection,29.0,IND,m,married,y
23,37031,2,24h,When my friend meet me today with expensive gi...,When my friend meet me today with expensive gi...,True,1,bonding,bonding,29.0,IND,m,married,y
24,37599,2,24h,When my friend meet to me after many days and ...,When my friend meet to me after many days and ...,True,1,NaN,bonding,29.0,IND,m,married,y
25,38598,2,24h,I was very happy when my son playing with whol...,I was very happy when my son playing with whol...,True,1,affection,affection,29.0,IND,m,married,y
26,39597,2,24h,When my family cooked and buying my favorite c...,When my family cooked and buying my favorite c...,True,1,NaN,affection,29.0,IND,m,married,y
27,40963,2,24h,I was very happy last night when I achieved my...,I was very happy last night when I achieved my...,True,1,NaN,affection,29.0,IND,m,married,y
28,41863,2,24h,When my family arrange for trip to abroad with me,When my family arrange for trip to abroad with me,True,1,NaN,affection,29.0,IND,m,married,y
29,42763,2,24h,When I shift my new home with my entire family,When I shift my new home with my entire family,True,1,NaN,affection,29.0,IND,m,married,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100505,127721,13677,24h,"I got a phone call from my sister, that see is...","I got a phone call from my sister, that see is...",True,1,NaN,affection,64,IND,m,married,y
100506,128221,13677,24h,I attended an engagement in the morning with m...,I attended an engagement in the morning with m...,True,2,NaN,affection,64,IND,m,married,y
100507,128721,13677,24h,"I made some special dishes for lunch, and my n...","I made some special dishes for lunch, and my n...",True,1,NaN,affection,64,IND,m,married,y
100508,127724,6895,24h,"My son, who is three months old, was able to s...","My son, who is three months old, was able to s...",True,1,NaN,affection,34,USA,m,married,y
100509,128224,6895,24h,Yesterday was my last day of work before start...,Yesterday was my last day of work before start...,True,1,NaN,achievement,34,USA,m,married,y
100510,128724,6895,24h,I was able to bench press 175 pounds for 3 set...,I was able to bench press 175 pounds for 3 set...,True,1,NaN,achievement,34,USA,m,married,y
100511,127727,8689,24h,"Waking up in the morning, and making myself a ...","Waking up in the morning, and making myself a ...",True,1,NaN,enjoy_the_moment,24,USA,f,single,n
100512,128227,8689,24h,Watching the clock turn from 5.59 pm to 6.00 p...,Watching the clock turn from 5.59 pm to 6.00 p...,True,1,NaN,leisure,24,USA,f,single,n
100513,128727,8689,24h,Sending my best friend a message.,Sending my best friend a message.,True,1,NaN,bonding,24,USA,f,single,n
100514,127733,5798,24h,"While I was at the store, strawberries were ch...","While I was at the store, strawberries were ch...",True,1,NaN,achievement,26,USA,m,single,n
100515,128233,5798,24h,I called an old friend that I have not spoken ...,I called an old friend that I have not spoken ...,True,1,NaN,bonding,26,USA,m,single,n
100516,128733,5798,24h,I won in the multiplayer video game I was play...,I won in the multiplayer video game I was play...,True,1,NaN,leisure,26,USA,m,single,n
100517,127740,10983,24h,I did a favor for a coworker. I stayed a bit ...,I did a favor for a coworker. I stayed a bit ...,True,2,NaN,achievement,32,USA,m,single,n
100518,128240,10983,24h,"I was able to sell an item on Craigslist, got ...","I was able to sell an item on Craigslist, got ...",True,1,NaN,achievement,32,USA,m,single,n
100519,128740,10983,24h,I was able to accomplish one of my goals at wo...,I was able to accomplish one of my goals at wo...,True,1,NaN,achievement,32,USA,m,single,n
100520,127743,13605,24h,Yesterday I took my son to the local zoo.,Yesterday I took my son to the local zoo.,True,1,NaN,affection,36,USA,f,married,y
100521,128243,13605,24h,Last night while attending my grandmother's wa...,Last night while attending my grandmother's wa...,True,1,NaN,affection,36,USA,f,married,y
100522,128743,13605,24h,Last night while attending my grandmother's wa...,Last night while attending my grandmother's wa...,True,1,NaN,bonding,36,USA,f,married,y
100523,127747,2974,24h,"I get to see my best friend after a month, sin...","I get to see my best friend after a month, sin...",True,1,NaN,bonding,24,MEX,m,single,n
100524,128247,2974,24h,"I get to play videogames at home, after a long...","I get to play videogames at home, after a long...",True,1,NaN,leisure,24,MEX,m,single,n
100525,128747,2974,24h,I had pizza for dinner and it was great,I had pizza for dinner and it was great,True,1,NaN,enjoy_the_moment,24,MEX,m,single,n
100526,127748,8880,24h,I got on the scales in the morning and I was 5...,I got on the scales in the morning and I was 5...,True,1,achievement,achievement,58,USA,f,married,n
100527,128248,8880,24h,It's Friday and I get all afternoon off!,It's Friday and I get all afternoon off!,True,1,NaN,achievement,58,USA,f,married,n
100528,128748,8880,24h,My husband called me just to tell me he loved me.,My husband called me just to tell me he loved me.,True,1,NaN,affection,58,USA,f,married,n
100529,127751,11402,24h,Quite dinner with my wife.,Quite dinner with my wife.,True,1,affection,affection,32,USA,m,married,n
100530,128251,11402,24h,Was told I was a great employee by my boss.,Was told I was a great employee by my boss.,True,1,NaN,achievement,32,USA,m,married,n
100531,128751,11402,24h,Fixed my car.,Fixed my car.,True,1,NaN,achievement,32,USA,m,married,n
100532,127759,11050,24h,Four year back I lost my job. Now I am living ...,Four year back I lost my job. Now I am living ...,True,6,NaN,achievement,65,IND,m,married,y
100533,128259,11050,24h,Yesterday evening I received a call from unkno...,Yesterday evening I received a call from unkno...,True,7,bonding,bonding,65,IND,m,married,y
100534,128759,11050,24h,I am fond of seeing cricket match. Yesterday t...,I am fond of seeing cricket match. Yesterday t...,True,6,NaN,enjoy_the_moment,65,IND,m,married,y

In [70]:
# Drop features
hm_new.drop('original_hm', axis=1, inplace=True)

In [71]:
# Check if its dropped
hm_new.head()

,hmid,wid,reflection_period,cleaned_hm,modified,num_sentence,ground_truth_category,predicted_category,age,country,gender,marital,parenthood
0,27673,2053,24h,I went on a successful date with someone I fel...,True,1,NaN,affection,35,USA,m,single,n
1,27873,2053,24h,I played a new game that was fun and got to en...,True,1,NaN,leisure,35,USA,m,single,n
2,28073,2053,24h,I listened to some music and heard an entire a...,True,1,NaN,leisure,35,USA,m,single,n
3,33522,2053,24h,Went to see a movie with my friend,True,1,NaN,bonding,35,USA,m,single,n
4,34522,2053,24h,"Played guitar, learning a song on it",True,1,NaN,leisure,35,USA,m,single,n

In [72]:
# Drop multiple features at once in a list
hm_new.drop(['cleaned_hm','modified','num_sentence','ground_truth_category','reflection_period','hmid', 'wid'], axis=1, inplace=True)

In [73]:
hm_new

       predicted_category   age country gender  marital parenthood
0               affection    35     USA      m   single          n
1                 leisure    35     USA      m   single          n
2                 leisure    35     USA      m   single          n
3                 bonding    35     USA      m   single          n
4                 leisure    35     USA      m   single          n
5               affection    35     USA      m   single          n
6                 leisure    35     USA      m   single          n
7             achievement    35     USA      m   single          n
8               affection    35     USA      m   single          n
9               affection  29.0     IND      m  married          y
10              affection  29.0     IND      m  married          y
11            achievement  29.0     IND      m  married          y
12              affection  29.0     IND      m  married          y
13              affection  29.0     IND      m  married          y
14              affection  29.0     IND      m  married          y
15              affection  29.0     IND      m  married          y
16              affection  29.0     IND      m  married          y
17              affection  29.0     IND      m  married          y
18            achievement  29.0     IND      m  married          y
19              affection  29.0     IND      m  married          y
20              affection  29.0     IND      m  married          y
21              affection  29.0     IND      m  married          y
22              affection  29.0     IND      m  married          y
23                bonding  29.0     IND      m  married          y
24                bonding  29.0     IND      m  married          y
25              affection  29.0     IND      m  married          y
26              affection  29.0     IND      m  married          y
27              affection  29.0     IND      m  married          y
28              affection  29.0     IND      m  married          y
29              affection  29.0     IND      m  married          y
...                   ...   ...     ...    ...      ...        ...
100505          affection    64     IND      m  married          y
100506          affection    64     IND      m  married          y
100507          affection    64     IND      m  married          y
100508          affection    34     USA      m  married          y
100509        achievement    34     USA      m  married          y
100510        achievement    34     USA      m  married          y
100511   enjoy_the_moment    24     USA      f   single          n
100512            leisure    24     USA      f   single          n
100513            bonding    24     USA      f   single          n
100514        achievement    26     USA      m   single          n
100515            bonding    26     USA      m   single          n
100516            leisure    26     USA      m   single          n
100517        achievement    32     USA      m   single          n
100518        achievement    32     USA      m   single          n
100519        achievement    32     USA      m   single          n
100520          affection    36     USA      f  married          y
100521          affection    36     USA      f  married          y
100522            bonding    36     USA      f  married          y
100523            bonding    24     MEX      m   single          n
100524            leisure    24     MEX      m   single          n
100525   enjoy_the_moment    24     MEX      m   single          n
100526        achievement    58     USA      f  married          n
100527        achievement    58     USA      f  married          n
100528          affection    58     USA      f  married          n
100529          affection    32     USA      m  married          n
100530        achievement    32     USA      m  married          n
100531        achievement    32     USA      m  married          n
100532        achievement    65     IND      m  married          y
100533            bonding    65     IND      m  married          y
100534   enjoy_the_moment    65     IND      m  married          y

[100535 rows x 6 columns]

In [74]:
print(type(hm_new))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
dataset = hm_new.as_matrix()

In [77]:
hm_dataset = np.append(arr = dataset[:, 1:], values = dataset[:, [0]], axis = 1)

In [78]:
hm_dataset

array([['35', 'USA', 'm', 'single', 'n', 'affection'],
       ['35', 'USA', 'm', 'single', 'n', 'leisure'],
       ['35', 'USA', 'm', 'single', 'n', 'leisure'],
       ...,
       ['65', 'IND', 'm', 'married', 'y', 'achievement'],
       ['65', 'IND', 'm', 'married', 'y', 'bonding'],
       ['65', 'IND', 'm', 'married', 'y', 'enjoy_the_moment']], dtype=object)

In [ ]:
X = hm_new.iloc[:, []]